@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #f6efff;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #fff;
  padding: 20px 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 180px;
  }

  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;

      li:not(:last-child) {
        margin-right: 1rem;
      }

      li {
        font-weight: 400;
        font-size: 1.05rem;
      }
    }
  }
}

p {
  font-size: 15px;
  color: black;
  margin: 0;
}

main,
footer {
  padding: 0 12rem;
}

a.btn {
  background-color: #3b2772;
  color: #fff;
  padding: 13px 28px;
  border: none;
  outline: none;
  text-decoration: none;
  font-size: 13px;
  display: inline-block;
}

li a {
  color: black;
  text-decoration: none;
}

li {
  font-size: 13px !important;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.hero-section {
  padding: 3rem 12rem;
  display: flex;
  align-items: center;
}

.hero-content {
  padding-left: 40px;
}

.hero-detail {
  margin-bottom: 0.8rem;
}

.counter-section {
  padding: 3rem 12rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.counter-section h3 {
  margin: 0;
  font-size: 34px;
}

.about-section {
  padding: 3rem 12rem;
  display: flex;
  align-items: center;
}

.about-section img {
  width: 35rem;
  height: 25rem;
}

h2 {
  padding: 0;
  margin: 0;
}
.about-contant {
  padding-right: 1.5rem;
}

h4 {
  margin: 0;
  padding: 10px;
}
.about-contant ul {
  margin: 0;
  list-style-type: disc;
}

.about-contant a {
  margin-top: 10px;
}

.about-contant p.about-data,
.about-contant .about-list {
  font-size: 13px;
  color: blue;
}
.about-contant .about-list div {
  display: flex;
}

.service-section {
  padding: 3rem 12rem;
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-content {
  background-color: white !important;
  border: none !important;
}

.service-content p {
  padding: 0;
  padding-bottom: 10px;
}

.service-content .btn {
  margin-top: 20px;
  padding: 10px;
}

.service-box {
  width: 17rem;
  background-color: lightgray;
  border-color: blue;
  border-style: solid;
  border-width: 0.7px;
  padding: 10px;
  margin-bottom: 2rem;
}

.service-box img,
.more-btn {
  padding-left: 10px;
}
.service-box h3 {
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 4px;
  font-weight: 500;
  padding-left: 10px;
}

.service-box p {
  padding-bottom: 10px;
  font-size: 12px;
}
.service-box .more-btn {
  font-size: 14px;
  text-decoration: none;
}

.why-choose-section {
  padding: 3rem 12rem;
  display: flex;
  background-color: #f6efff;
  flex-wrap: wrap;
  justify-content: space-between;
}

.why-box1 {
  border-width: 1px;
  width: 28rem;
  padding: 0;
  margin: 0;
}

.why-box1 .para1 {
  padding: 0;
  padding-bottom: 2px;
}

.why-box1 .para2 {
  padding: 0;
  padding-bottom: 7px;
  color: cornflowerblue;
  font-size: 13px;
}

.why-box1 h2 {
  font-weight: 600;
}
.why-box1 img {
  width: 28rem;
}

.why-box2 {
  border-width: 1px;
  width: 28rem;
  height: 28rem;
}

.box1 {
  border-color: #d2c8db;
  border-style: solid;
  border-width: 1px;
  width: 13.5rem;
  height: 13.5rem;
  display: inline-block;
  margin: 1px;
  margin-top: 10px;
}

.box1 img {
  width: 4rem;
  height: 4rem;
  padding-left: 10px;
  padding-top: 8px;
}
.box1 h3 {
  font-size: 1rem;
  font-weight: 700;
  padding-left: 10px;
}

.box1 p {
  font-size: 0.6rem;
  font-weight: 400;
  padding-left: 10px;
}

.coment-section {
  padding: 3rem 12rem;
  background-color: #1b4353;

  text-align: center;
}

.comant-box {
  width: 600px;
  height: 200px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  background-color: white;
  margin-top: 0.7rem;
  margin-left: 12rem;
}

.coment-section .par2 {
  color: lightpink;
}

.coment-section .par1,
.par1-h {
  color: white;
}

.how-to-get-section {
  padding: 3rem 12rem;
  background-color: white;
}

.h-box-1 {
  display: flex;
  align-items: center;
}

.h-box-1 h2,
.h-box-1 p {
  flex: 1;
}

.how-to-get-section p {
  font-weight: 500;
  padding: 0;
}

.h-box-1 p {
  font-size: 13px;

  color: #3b2772;
}

.how-to-get-section h2 {
  font-weight: 600;
}

.how-box1 {
  border-color: #d2c8db;
  border-style: solid;
  border-width: 1px;
  width: 18rem;
  height: 12rem;
  padding-left: 15px;
  padding-top: 20px;
}

.how-box1 img {
  width: 4rem;
  height: 4rem;
}

.how-box1 h4 {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.how-box1 p {
  font-size: 12px;
  color: #3b2772;
}

.how-to-contant {
  display: flex;
  justify-content: space-between;
}

.contact-us-section {
  padding: 3rem 12rem;
  background-color: #1b4353;
  display: flex;
}

.msg-box {
  background-color: white;
  padding: 20px;
  width: 45rem;
}

.msg-box table .Last,
.last-data {
  border-collapse: collapse;
}

.msg-box-box2 {
  padding-top: 50px;
  padding-left: 18px;
}

.msg-box-box2 p {
  color: lightblue;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.first-h4- {
  color: white !important;
}
.msg-box-box2 h4 {
  color: white;
  padding: 0;
  padding-top: 1px;
  padding-bottom: 6px;
}

.msg-box-box2 h2 {
  padding-top: 15px;
  color: white;
}

.msg-box {
  font-size: 12px;
}

.msg-box table tr td input {
  height: 1.6rem;
}

.faq-section {
  padding: 3rem 12rem;
  background-color: white;
}
.footer-section {
  background-color: #1b4353;
  padding: 3rem 12rem;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}

.footer-social {
  font-size: 3rem;
  padding-top: 3rem;

  .footer-table td {
    text-align: left;
    padding-left: 10px;
  }
}
.footer-table .footer-final h2 {
  color: white;
  margin-top: 3rem;
  font-weight: 400;
  font-size: 19px;
  padding-bottom: 0.6rem;
}
.footer-table input {
  border-width: 1;
}
.footer-table table th {
  text-align: left;
}

.footer-table table tr th {
  padding-right: 20px;
}

.footer-final input {
  width: 20rem;
  height: 2.5rem;
  background-color: #d2c8db;
  border-color: black;
  font-size: 16px;
  margin-right: 2rem;
}

.footer-table {
  font-size: 12px;
}
